.featured {
    margin: 25px;
}
.featuredImgbox {
    position: relative;
}
.featuredImage{
    width: 325px;
    height: 425px;
}
.featuredTitle {
    position: absolute;
    bottom: 3em;
    left: 10px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.featuredSoundtrack {
    position: absolute;
    bottom: 3em;
    left: 10px;
    color: white;
}