.featuredCard {
    margin: 25px;
    position: relative;
}
.featuredCard__title {
    position: absolute;
    bottom: 3em;
    left: 10px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.featuredCard__image {
    overflow: hidden;
    background-color: gray;
}
.featuredCard__track {
    position: absolute;
    bottom: 3em;
    left: 10px;
    color: white;
}
.featuredCard__scroll {
    overflow-y: scroll;
}
.featuredCard__scroll::-webkit-scrollbar {
    display: none;
}